<div class="navbar navbar-static-top">
	<div class="navbar_gr">
		<div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantención</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "mantencion" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
						<li class="divider"></li>
						<li><a href="{{site.baseurl}}/">Salir</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Caja (POS)</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "caja" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
						<li class="divider"></li>
					{% assign docs = site.docs | sort: "title" | where: "category", "caja1" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
						<li class="divider"></li>
					{% assign docs = site.docs | sort: "title" | where: "category", "caja2" %}
					{% for doc in docs %}
						<li class="dropdown-submenu"><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>
							<ul class="dropdown-menu">
							{% assign docs = site.docs | sort: "title" | where: "category", "reimprimir" %}
							{% for doc in docs %}
								<li>{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					{% assign docs = site.docs | sort: "title" | where: "category", "caja3" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
					{% assign docs = site.docs | sort: "title" | where: "category", "caja4" %}
					{% for doc in docs %}
						<li class="dropdown-submenu">{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}
							<ul class="dropdown-menu">
							{% assign docs = site.docs | sort: "title" | where: "category", "saldo" %}
							{% for doc in docs %}
								<li>{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					{% assign docs = site.docs | sort: "title" | where: "category", "caja5" %}
					{% for doc in docs %}
						<li class="dropdown-submenu">{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}
							<ul class="dropdown-menu">
							{% assign docs = site.docs | sort: "title" | where: "category", "estimar" %}
							{% for doc in docs %}
								<li>{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					{% assign docs = site.docs | sort: "title" | where: "category", "caja6" %}
					{% for doc in docs %}
						<li class="dropdown-submenu">{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}
							<ul class="dropdown-menu">
							{% assign docs = site.docs | sort: "title" | where: "category", "cierre" %}
							{% for doc in docs %}
								<li>{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "ventas" %}
					{% for doc in docs %}
						<li>{% unless doc.category contains 'des' %}<a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a>{%endunless%}{% if doc.category contains 'des' %}<div class="imita_a">{{doc.nombre}}</div>{%endif%}</li>
					{% endfor %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tesoreria</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "tesoreria" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuracion</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "configuracion" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
						<li class="divider"></li>
					{% assign docs = site.docs | sort: "title" | where: "category", "configuracion1" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
						<li class="divider"></li>
					{% assign docs = site.docs | sort: "title" | where: "category", "configuracion2" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilitarios</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "utilitarios" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
						<li class="divider"></li>
					{% assign docs = site.docs | sort: "title" | where: "category", "utilitarios1" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaciones</a>
					<ul class="dropdown-menu">
					{% assign docs = site.docs | sort: "title" | where: "category", "operacion" %}
					{% for doc in docs %}
						<li><a href="{{site.baseurl}}{{doc.url}}">{{doc.nombre}}</a></li>
					{% endfor %}
					</ul>
				</li>
				<li id="buscar_label" style="margin: 10px 0 0 5px;color:#777;">Buscar</li>
				<li id="buscar_form">
				<form action="{{site.baseurl}}/search" method="get">
					<input type="text" id="search-box" name="query" style="padding: 0 3px;font-size: 14px;width: 150px;height: 18px;margin: 0 5px;" placeholder="buscar...">
				</form>
				</li>
				<li class="icono_home"><a href="{{site.baseurl}}/" class="a_icono"><i class="mc-home"></i></a></li>
			</ul>
		</div>
	</div>
</div>
