Abriremos la VPN desde el icono en el escritorio.

<p class="centrado"><img src="{{site.baseurl}}/docs/pos/img/reimprimir/5.png"></p>

Una vez abierta seleccionamos la conexión y presionamos el botón **Connect**

<p class="centrado"><img src="{{site.baseurl}}/docs/pos/img/reimprimir/6.png"></p>

Se abrira una ventana que solicita usuario y contraseña.

En donde indica **"Username:"** debes colocar el nombre de tu franquisiado y en donde indica **"Password:"** debes colocar el nombre de tu franquisiado más la palabra vpn, por ejemplo.

Username: **bbc**<br>
Password: **bbcvpn**.

<p class="centrado"><img src="{{site.baseurl}}/docs/pos/img/reimprimir/7.png"></p>

Cuando la VPN se conecte desaparece la pantalla y en la barra de notificación de windows aparece un icono con un **candado cerrado**.

<p class="centrado"><img src="{{site.baseurl}}/docs/pos/img/reimprimir/8.png"></p>