@charset "UTF-8";

@font-face {
  font-family: "multicard";
  src:url("fonts/multicard.eot");
  src:url("fonts/multicard.eot?#iefix") format("embedded-opentype"),
    url("fonts/multicard.woff") format("woff"),
    url("fonts/multicard.ttf") format("truetype"),
    url("fonts/multicard.svg#multicard") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "multicard" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="mc-"]:before,
[class*=" mc-"]:before {
  font-family: "multicard" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mc-home:before {
  content: "\63";
}
.mc-menu:before {
  content: "\64";
}
.mc-rss-o:before {
  content: "\65";
}
.mc-rss:before {
  content: "\66";
}
.mc-whatsapp:before {
  content: "\67";
}
.mc-up:before {
  content: "\68";
}
.mc-persons:before {
  content: "\69";
}
.mc-settings:before {
  content: "\6a";
}
.mc-monitor:before {
  content: "\6b";
}
.mc-laptop:before {
  content: "\6c";
}
.mc-lightbulb:before {
  content: "\6d";
}
.mc-levels:before {
  content: "\6e";
}
.mc-world:before {
  content: "\6f";
}
.mc-searchs:before {
  content: "\70";
}
.mc-search:before {
  content: "\71";
}
.mc-settingss:before {
  content: "\72";
}
.mc-people:before {
  content: "\73";
}
.mc-peopleo:before {
  content: "\74";
}
.mc-monitoro:before {
  content: "\75";
}
.mc-monitord:before {
  content: "\76";
}
.mc-papero:before {
  content: "\77";
}
.mc-paper:before {
  content: "\78";
}
.mc-email:before {
  content: "\79";
}
.mc-briefcase:before {
  content: "\7a";
}
.mc-book:before {
  content: "\61";
}
.mc-download:before {
  content: "\62";
}
.mc-sii:before {
  content: "\41";
}
.mc-claro-chile:before {
  content: "\42";
}
.mc-claro-letras:before {
  content: "\43";
}
.mc-autentia:before {
  content: "\44";
}
.mc-club:before {
  content: "\45";
}
.mc-terminal:before {
  content: "\46";
}
.mc-printo:before {
  content: "\47";
}
.mc-libro:before {
  content: "\48";
}
.mc-fix:before {
  content: "\49";
}
.mc-docs:before {
  content: "\4a";
}
.mc-proced:before {
  content: "\4b";
}
.mc-receive:before {
  content: "\4c";
}
.mc-sharedfolder:before {
  content: "\4d";
}
.mc-perfil:before {
  content: "\4e";
}
.mc-doble:before {
  content: "\4f";
}
.mc-tecnico:before {
  content: "\50";
}
.mc-store:before {
  content: "\51";
}
.mc-firma:before {
  content: "\52";
}
.mc-kiosko:before {
  content: "\53";
}
.mc-directory:before {
  content: "\54";
}
.mc-organization:before {
  content: "\55";
}
.mc-close:before {
  content: "\56";
}
.mc-copy:before {
  content: "\57";
}
.mc-headset:before {
  content: "\58";
}
.mc-paste:before {
  content: "\59";
}
.mc-reasignar:before {
  content: "\5a";
}
.mc-comandos:before {
  content: "\30";
}
.mc-outlook:before {
  content: "\31";
}
.mc-ad:before {
  content: "\32";
}
.mc-windows:before {
  content: "\33";
}
.mc-seh:before {
  content: "\34";
}
.mc-java:before {
  content: "\35";
}
.mc-office2010:before {
  content: "\36";
}
.mc-building:before {
  content: "\37";
}
.mc-building-1:before {
  content: "\38";
}
.mc-hall:before {
  content: "\39";
}
.mc-dowload-book:before {
  content: "\21";
}
.mc-star:before {
  content: "\22";
}
.mc-bookmark:before {
  content: "\23";
}
.mc-bookmark-1:before {
  content: "\24";
}
.mc-bookmark-o:before {
  content: "\25";
}
.mc-bookmark-2:before {
  content: "\26";
}
.mc-address-book:before {
  content: "\27";
}
.mc-cloud-download:before {
  content: "\29";
}
.mc-legal:before {
  content: "\28";
}
.mc-gavel:before {
  content: "\2a";
}
.mc-server:before {
  content: "\2b";
}
.mc-phone:before {
  content: "\2c";
}
.mc-archive:before {
  content: "\2d";
}
.mc-caja:before {
  content: "\2e";
}
.mc-buy4:before {
  content: "\2f";
}
.mc-shop:before {
  content: "\3a";
}
.mc-f5:before {
  content: "\3b";
}
.mc-agenda:before {
  content: "\3c";
}
.mc-email-1:before {
  content: "\3d";
}
.mc-yes:before {
  content: "\3e";
}
.mc-proxy:before {
  content: "\3f";
}
.mc-monitoreo:before {
  content: "\40";
}
.mc-ie:before {
  content: "\5b";
}
.mc-tbk:before {
  content: "\5d";
}
.mc-barcode:before {
  content: "\5e";
}
.mc-file-pdf:before {
  content: "\5f";
}
.mc-file-word:before {
  content: "\60";
}
.mc-card:before {
  content: "\7b";
}
.mc-file-excel:before {
  content: "\7c";
}
.mc-back:before {
  content: "\7d";
}
.mc-cugat:before {
  content: "\7e";
}
.mc-movistar:before {
  content: "\5c";
}
.mc-gildemeister:before {
  content: "\e000";
}
.mc-uc:before {
  content: "\e001";
}
.mc-debito:before {
  content: "\e002";
}
.mc-cheque:before {
  content: "\e003";
}
.mc-credito:before {
  content: "\e004";
}
