<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>{{ site.titulo }}</title>
		<link rel="stylesheet" href="https://claudiomateluna.github.io/abv/assets/css/bootstrap.min.css" />
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="https://claudiomateluna.github.io/abv/assets/css/ie9.css" />
			<script src="https://claudiomateluna.github.io/abv/assets/js/html5shiv.min.js"></script>
		<![endif]-->
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="https://claudiomateluna.github.io/abv/assets/css/ie8.css" />
			<script src="https://claudiomateluna.github.io/abv/assets/js/html5shiv.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="https://claudiomateluna.github.io/abv/assets/css/estilo.css" />
		<link rel="stylesheet" href="https://claudiomateluna.github.io/abv/assets/css/styles.css" />
	</head>
	<body>
		{% include navbar.html %}
		{{content}}
		<script src="https://claudiomateluna.github.io/abv/assets/js/jquery.min.js"></script>
		<script src="https://claudiomateluna.github.io/abv/assets/js/bootstrap.min.js"></script>
	</body>
</html>
